<a href="https://colab.research.google.com/github/mahendrasaikumargandham/machine-learning-algorithms/blob/main/multivariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
data = pd.read_csv("boston.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
X = data.drop('medv', axis=1).values
y = data['medv'].values

In [4]:
X.shape, y.shape

((506, 13), (506,))

In [5]:
y = y.reshape(-1, 1)

In [6]:
reg = linear_model.LinearRegression()
reg.fit(X, y)

LinearRegression()

In [8]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
Y_Pred = reg.predict(X)
print(f'MSE = {mean_squared_error(y, Y_Pred)}')
print(f'MAE = {mean_absolute_error(y, Y_Pred)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y, Y_Pred))}')
print(f'R2_Score = {r2_score(y, Y_Pred)}')

MSE = 21.894831181729202
MAE = 3.2708628109003164
RMSE = 4.679191295697281
R2_Score = 0.7406426641094095