<a href="https://colab.research.google.com/github/mahendrasaikumargandham/machine-learning-algorithms/blob/main/Ridge_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
data = pd.read_csv("boston.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
X = data.drop('medv', axis = 1).values
Y = data['medv'].values

In [10]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 42)
X_Train.shape, X_Test.shape

((379, 13), (127, 13))

In [13]:
from sklearn.linear_model import Ridge
reg = Ridge(alpha = 0.1)
reg.fit(X_Train, Y_Train)

Ridge(alpha=0.1)

In [16]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
Y_pred1 = reg.predict(X_Train)
print(f'MSE = {mean_squared_error(Y_Train, Y_pred1)}') 
print(f'MAE = {mean_absolute_error(Y_Train, Y_pred1)}') 
print(f'RMSE = {np.sqrt(mean_squared_error(Y_Train, Y_pred1))}') 
print(f'r2_score = {r2_score(Y_Train, Y_pred1)}')

MSE = 22.34510913835054
MAE = 3.36016202366575
RMSE = 4.7270613639290255
r2_score = 0.7480303017255328

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
Y_pred2 = reg.predict(X_Test)
print(f'MSE = {mean_squared_error(Y_Test, Y_pred2)}') 
print(f'MAE = {mean_absolute_error(Y_Test, Y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(Y_Test, Y_pred2))}') 
print(f'r2_score = {r2_score(Y_Test, Y_pred2)}')

MSE = 22.14223297423886
MAE = 3.055565038908789
RMSE = 4.705553418487443
r2_score = 0.6838049959091366

In [19]:
reg.score(X_Test, Y_Test)

0.6838049959091366